
<div [formGroup]="configForm">
  <div class="card">
    <div class="card-block">
      <div class="col-md-6">
        <div formGroupName="TimeFromSqlQuery">
          <div class="form-group">
            <p-dropdown [options]="queryTypes" 
                      formControlName="QueryTypeId" 
                      [style]="{'width':'100%'}" 
                      [autoWidth]="false"
                      pTooltip="Query Type" 
                      tooltipPosition="left">
            </p-dropdown>
          </div>
          <div class="form-group">
            <h6 class="control-label" >Query</h6>
            <textarea rows="5" pInputTextarea formControlName="Query"></textarea>
          </div>         
          <div class="form-group">
            <h6 class="control-label">Query Parameters</h6>
            <textarea rows="5" pInputTextarea formControlName="Parameters"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
