<div [formGroup]="configForm">
  <div formGroupName="TimeFromFileDefinition">
    <div class="ui-layout">  
      <div class="card">
        <div class="card-block">
          <div formGroupName="FileSource">
            <div class="form-group">
              <p-dropdown [options]="fileTypes" 
                          formControlName="FileTypeId"
                          pTooltip="File Type" 
                          tooltipPosition="right" 
                          [style]="{'width':'50%'}" 
                          [autoWidth]="false">
              </p-dropdown>
            </div>
            <div class="form-group">
              <input pInputText pTooltip="File Path" 
                     formControlName="FileFullName"
                     class="file-input"
                     tooltipPosition="right" 
                     placeholder="File Path"
                     autocomplete="off"/>
            </div>
            <div class="form-group checkbox-bottom-line">
              <p-checkbox label="Column Names on First Row" 
                          formControlName="ColumnNamesInFirstRow" 
                          binary="true">
              </p-checkbox>
            </div>

            <div class="row vertical-align">
              <div class="col-md-6">
                <div class="form-group">
                  <input pInputText formControlName="Tab" 
                         pTooltip="Tab" 
                         tooltipPosition="right" 
                         class="index-input" 
                         placeholder="Tab"
                         autocomplete="off"/>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <p-checkbox label="Index" 
                              formControlName="IsTabIndex"
                              (onChange)="onChangeIndexes('IsTabIndex', true)" 
                              binary="true">
                  </p-checkbox>
                </div>
                <div>
                  <p-checkbox label="Tab Name"
                              formControlName="TempTabIndex"
                              (onChange)="onChangeIndexes('IsTabIndex', false)"
                              binary="true">
                  </p-checkbox>
                </div>
              </div>  
            </div>
          </div>
          
          <div class="row vertical-align">
            <div class="col-md-6">
              <div class="form-group">
                <input pInputText pTooltip="Column"
                       formControlName="DateColumn"
                       tooltipPosition="right" 
                       class="index-input" 
                       placeholder="Column"
                       autocomplete="off"/>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <p-checkbox label="Index" 
                            formControlName="AreColumnsIndexes"
                            (onChange)="onChangeIndexes('AreColumnsIndexes', true)" 
                            binary="true">
                </p-checkbox>
              </div>
              <div>
                <p-checkbox label="Tab Name"
                            formControlName="TempColumnsIndexes"
                            (onChange)="onChangeIndexes('AreColumnsIndexes', false)"
                            binary="true">
                </p-checkbox>
              </div>

            </div>
          </div>

          <div class="row vertical-align">
            <div class="col-md-6">
              <div class="form-group">
                <input pInputText pTooltip="Optional Time Column"
                       formControlName="TimeColumn"
                       tooltipPosition="right" 
                       class="index-input top-space" 
                       placeholder="Optional Time Column"
                       autocomplete="off"/>
              </div>
            </div>
          </div>

          <div class="form-group checkbox-bottom-line">
            <p-checkbox label="Enable Row Filters" 
                        formControlName="TempRowFilters"
                        binary="true" 
                        (onChange)="onRowFiltersChange($event)">
            </p-checkbox>
          </div>

          <div *ngIf="selectedRowFilters">
            <div formGroupName="FilterByColumn">
              <div class="row vertical-align none-lines">
                <div class="col-md-6">
                  <div class="form-group">
                    <input pInputText pTooltip="Column"
                           formControlName="FilterColumn"     
                           class="index-input" 
                           tooltipPosition="right" 
                           placeholder="Filter Column"
                           autocomplete="off"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div>
                    <p-checkbox label="Index" 
                                formControlName="IsFilterColumnTheIndex"
                                (onChange)="onChangeIndexes('IsFilterColumnTheIndex', true)" 
                                binary="true">
                    </p-checkbox>
                  </div>
                  <div>
                    <p-checkbox label="Tab Name"
                                formControlName="TempFilterColumnIndex"
                                (onChange)="onChangeIndexes('IsFilterColumnTheIndex', false)"
                                binary="true">
                    </p-checkbox>
                  </div>

                </div>
              </div>
              <div class="form-group top-space">
                <p-dropdown [options]="filterConditions" 
                            formControlName="ConditionId"
                            pTooltip="File Type" 
                            tooltipPosition="right" 
                            [style]="{'width':'50%'}" 
                            [autoWidth]="false">
                </p-dropdown>
              </div>
              <div class="form-group">
                <input pInputText pTooltip="Filter Value" 
                        formControlName="FilterValue"
                        class="file-input"
                        tooltipPosition="right" 
                        placeholder="Filter Value"
                        autocomplete="off"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
