
<div [formGroup]="configForm">
<div class="ui-layout">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <h6 class="card-header">Start Time</h6>
        <div class="card-block">
          <div class="form-group">
            <input pInputText pTooltip="Default Value" tooltipPosition="right" formControlName="DefaultValue" class="input-field" placeholder="Default Value"/>
          </div>
          <div formGroupName="StartTimeConfig">
            <p-dropdown [options]="timeTypes" formControlName="TimeConfigTypeId" (onChange)="onTimeTypeChange($event.value, configForm.controls['StartTimeConfig'])" [autoWidth]="false" [style]="{'width':'60%'}"></p-dropdown>
            <div [ngSwitch]="configForm.controls['StartTimeConfig']['controls']['TimeConfigTypeId'].value">
              <tt-layout-one *ngSwitchCase="2" 
                             [form-group-level-4]="configForm.controls['StartTimeConfig']"></tt-layout-one> 
              <tt-layout-two *ngSwitchCase="3" 
                             [form-group-level-4]="configForm.controls['StartTimeConfig']"></tt-layout-two> 
              <tt-layout-three *ngSwitchCase="4" 
                               [form-group-level-4]="configForm.controls['StartTimeConfig']"></tt-layout-three> 
              <tt-layout-four *ngSwitchCase="5"
                              [form-group-level-4]="configForm.controls['StartTimeConfig']" ></tt-layout-four>
              <tt-layout-five *ngSwitchCase="6" 
                              [form-group-level-4]="configForm.controls['StartTimeConfig']"></tt-layout-five>
              <tt-layout-six *ngSwitchCase="7" 
                              [form-group-level-4]="configForm.controls['StartTimeConfig']"></tt-layout-six>
              <tt-layout-five *ngSwitchCase="8" 
                              [form-group-level-4]="configForm.controls['StartTimeConfig']"></tt-layout-five>
              <tt-layout-five *ngSwitchCase="9" 
                              [form-group-level-4]="configForm.controls['StartTimeConfig']"></tt-layout-five>
              <div *ngSwitchDefault>
                <div class="alert alert-info" role="alert">
                  Please select the correct Start Time Type.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
