
<div [formGroup]="configForm">
<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-6">
        <div formGroupName="PeriodicTimeDefinition">
          <div class="form-group">
            <p-dropdown [options]="frequencies" 
                        formControlName="FrequencyId"
                        [style]="{'width':'100%'}" 
                        [autoWidth]="false"
                        pTooltip="Frequency" 
                        tooltipPosition="left"></p-dropdown>
          </div>
          <div class="form-group">
            <input  pInputText class="input-field"
                    formControlName="OffsetInSeconds" 
                    pTooltip="Offset in Seconds" tooltipPosition="left" 
                    placeholder="Offset in Seconds" autocomplete="off"/>
            <div class="ui-message ui-messages-error ui-corner-all" 
                 *ngIf="!configForm.controls['PeriodicTimeDefinition']['controls']['OffsetInSeconds'].valid && configForm.controls['PeriodicTimeDefinition']['controls']['OffsetInSeconds'].dirty">
              <i class="fa fa-close"></i>
                Offset in Seconds must be a number.
            </div>
          </div>
          <div class="form-group">
            <p-dropdown [options]="timeUnits" 
                        formControlName="ResetTimeUnitId"
                        [style]="{'width':'100%'}" 
                        [autoWidth]="false"
                        pTooltip="Reset Time Units" 
                        tooltipPosition="left"></p-dropdown>
          </div>
        </div>
      </div>
      <div class="col-md-6 left-border">
        <div formGroupName="TimeFromTagDefinition">
          <div formGroupName="Tag">
            <div class="form-group">
              <p-dropdown [options]="dataSources" 
                          formControlName="Source"
                          [style]="{'width':'100%'}" 
                          editable="editable" 
                          [autoWidth]="false"
                          pTooltip="Data Source" 
                          tooltipPosition="left"
                          autocomplete="off"></p-dropdown>
            </div>
            <div class="form-group">
              <p-dropdown [options]="tags" 
                          formControlName="Name" 
                          [style]="{'width':'100%'}"
                          editable="editable" 
                          filter="filter"
                          [autoWidth]="false"
                          pTooltip="Tag Name" 
                          tooltipPosition="left"
                          autocomplete="off">
              </p-dropdown>
            </div>
          </div>
          <div class="form-group">
            <p-dropdown [options]="conditions" 
                        formControlName="ConditionId"
                        [style]="{'width':'100%'}" 
                        [autoWidth]="false"
                        pTooltip="Condition" 
                        tooltipPosition="left"></p-dropdown>
          </div>
          <div class="form-group">
            <input  pInputText class="input-field" 
                    formControlName="Value"
                    pTooltip="Value" tooltipPosition="left" 
                    placeholder="Value"
                    autocomplete="off"/>
          </div>
          <div class="form-group">
            <input  pInputText class="input-field" 
                    formControlName="OptionalSecondValue"
                    pTooltip="Optional Second Value" 
                    tooltipPosition="left" 
                    placeholder="Optional Second Value"
                    autocomplete="off"/>
          </div>
          <div class="form-group">
            <input  pInputText class="input-field" 
                    formControlName="OffsetInSeconds"
                    pTooltip="Optional Offset in Seconds" 
                    tooltipPosition="left"  
                    placeholder="Optional Offset in Seconds"
                    autocomplete="off"/>
            <div class="ui-message ui-messages-error ui-corner-all" 
                 *ngIf="!configForm.controls['TimeFromTagDefinition']['controls']['OffsetInSeconds'].valid && configForm.controls['TimeFromTagDefinition']['controls']['OffsetInSeconds'].dirty">
              <i class="fa fa-close"></i>
                Offset in Seconds must be a number.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
