
* {
   font-size: 14px;
}

/* Modifications for IE11 */

//Remove IE11's “clear field” X button in input fields.
input::-ms-clear {
  display: none;
}
//Set a placeholder color to grey in IE11 
.input-field:-ms-input-placeholder {
  color: #999 !important;
}

/******************************************
               Global Style
*******************************************/
.main-title {
  margin: 4rem 0 2rem;
}

.vertical-box {
  display: flex;
}

.loading {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 4.2rem;
  }
}

.dialog-column {
  min-height: 320px;
}

.input-field {
  width: 100%;
}

.file-input {
  width: 50%;
}

.index-input {
  width: 100%;
}

.row.vertical-align {
  border-bottom: 2px dotted rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 768px) {
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end;
  }
}

.checkbox-bottom-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin: 1.4rem -15px 0.5rem -15px;
  padding: 0 15px;
}

.none-lines {
  border: none;
}

.top-space {
  margin-top: 1rem;
}

.invalid {
  color: red; 
}

/******************************************
     Global Style for PrimeNG components
*******************************************/
%dropdown-icon {
  padding: 4px 9px;
}

.ui-g-6 {
  padding: 1rem;
}

.ui-dialog {
  width: inherit;
}

.ui-dropdown {
  background: #ffffff;
  
  & .ui-dropdown-label {
    width: 92%;
  }

  .config-form & label.ui-dropdown-label {
    width: 12rem;
  }

  .method-form & label.ui-dropdown-label {
    width: 100%;
  }

  & .ui-dropdown-trigger {
    @extend %dropdown-icon;
    width: 33px;

    .ui-fluid & {
      @extend %dropdown-icon;
    }
  }
}

.ui-growl {
  min-width: 20em;
}

.ui-button {
  margin-left: .4rem;
  padding: .1rem;
  height: 1.76rem;

  &.ui-spinner-button {
    height: 50%;
  }
}

.ui-button-icon-only .fa {
  margin-left: -0.54rem;
  padding-top: 0.06rem;
}

.ui-datatable {
  .ui-datatable-footer {
    text-align: left;
  }
}

label, button {
  font-weight: bold;
}

.ui-fluid .ui-spinner .ui-spinner-button {
  width: 1rem;
}

.list-group-item {
  cursor: pointer;
}

.active-attribute {
  background-color: lightyellow;
}

// input element in dataTable of the editable column 
.ui-datatable td.ui-cell-editing input {
  margin: 2px 2px 1px 1px;
  padding-left: 2px;
  background: #ffffff;
  color: #555555;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

// .ui-spinner .fa {
//   margin-left: -.45em;
// }

//**********************
// Stefano L additional styles
//**********************

.card-header {
  background: #1c315f;
  color: white;
  border-radius: 0px;
  margin-left: -1px;
  margin-right: -1px;
}

.ui-button{
  height: 1.79rem;  
}

.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
  background: #0978bd;
  border-color: #0978bd;
}

//button focus hover
.ui-button, button.ui-button.ui-state-hover, .ui-button.ui-state-hover, button.ui-state-focus, .ui-button.ui-state-focus {
  background: #26ACFF;
  border-color: #26ACFF;
}

.ui-button, button.ui-button.ui-state-active, .ui-button.ui-state-active {
  background: #1c315f;
  border-color: #1c315f
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background: #0978bd;
  //can't setup different colour for the content, as it's used into other items
  //color: #EA745C;
}

//centering dropdown icon inside button
.ui-dropdown .ui-dropdown-trigger .fa {
  margin-top: 0;
}

//Error message top right (red)
.ui-growl-item-container.ui-state-highlight.ui-growl-message-error {
  background: #EA745C;
  border-color: #EA745C;
}

.ui-growl-item-container.ui-state-highlight.ui-growl-message-success {
  background: #09bd0f;
  border-color: #09bd0f;
}

//Error message in form
.ui-message .ui-messages-error{
  background: #EA745C;
  border-color: #EA745C;
}

.ui-fluid .ui-spinner .ui-spinner-button .fa {
  color: #ffffff;
  left: 0.5em;
}

//caret up/down arrows for the spinner. "color" is probably overwritten by .ui-spinner .fa below, but I also needed to change the "left" property
.ui-spinner-button .ui-spinner-up .ui-corner-tr .ui-button .ui-widget { 
  .ui-state-default .ui-button-text-only{
    color: #ffffff;
    left: 0.5em;
  } 
  .ui-state-hover .ui-button-text-only{
    color: #ffffff;
    left: 0.5em;
  }
  .ui-state-active .ui-button-text-only{
    color: #ffffff;
    left: 0.5em;
  }
}

.ui-spinner .fa{
  color: #ffffff;
}

.ui-spinner .fa:hover{
  color: #ffffff;
}

.ui-spinner .fa:active{
  color: #ffffff;
}

.ui-spinner .fa:focus{
  color: #ffffff;
}

.ui-dialog{
  border: transparent;
}

.ui-dialog.ui-widget .ui-dialog-titlebar{
  background: #1c315f;
  border-color: #1c315f;
  color: #ffffff;
}

.ui-dialog .ui-dialog-titlebar-close{
  color: #ffffff;
}

.ui-widget-header {
  background: #ebedf0;
}

.ui-datatable th.ui-state-active {
   background: #1c315f;
}

.ui-paginator .ui-paginator-page.ui-state-active{
  background: #1c315f;
  border-color: #1c315f;
}

.bg-faded {
  background: #1c315f;
  border-radius: 0px;
}

.navbar-light .navbar-nav .nav-link{
  color: #ffffff;
}

.navbar-light .navbar-nav .active>.nav-link{
  color: #26ACFF;
}

.navbar-light .navbar-nav .active>.nav-link:hover{
  color: #72C9FF;
}

.navbar-light .navbar-nav .active>.nav-link:focus{
  color: #26ACFF;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #72C9FF;
}

.navbar-light .navbar-nav .nav-link:focus{
  color: #ffffff;
}
.navbar-light .navbar-nav .nav-link:active{
  color: #26ACFF;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
  color: #ffffff;
  margin-top: -2px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler:active {
  color: #ffffff;
  margin-top: -2px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover, .navbar-light .navbar-toggler:focus, .navbar-light .navbar-toggler:hover {
  color: #ffffff;
  margin-top: -2px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover, .navbar-light .navbar-toggler:focus, .navbar-light .navbar-toggler:hover {
  color: #ffffff;
  margin-top: -2px;
}

