<div [formGroup]="configForm">
<div class="ui-layout">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <h6 class="card-header">Attribute</h6>
        <div class="card-block">
          <p-dropdown [options]="attributeProperties"
                      formControlName="DefaultValue" 
                      pTooltip="Attribute Name" 
                      tooltipPosition="right" 
                      [style]="{'width':'50%'}" 
                      [autoWidth]="false">
          </p-dropdown>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
